$color-firm1: #ffffff;
$color-firm2: #707178;
$color-firm3: #f8f8f8;
$color-firm4: #000000;
$color-firm5: #2861a5;
$color-firm6: #DC505A;


$ff-primary: 'Roboto', sans-serif;
$font-size1: 24px;
$font-size2: 17px;
$font-size3: 14px;